body {
	width: 350px;
	height: 220px;
}
header {
	margin: 0 auto;
	width: 300px;
	text-align: center;
	margin-bottom: 20px
}
section {
	position: relative;
	margin: 0 auto;
	text-align: center;
	height: auto;
}
#codepad{
	width: 95%;
	height: 180px;
	margin: 0 auto;
	border: 1px solid #f3f2f2;
	border-radius: 10px;
}
.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
  }
