body {
	width: 350px;
	height: 220px;
}
header {
	margin: 0 auto;
	width: 300px;
	text-align: center;
	margin-bottom: 20px;
}
section {
	position: relative;
	margin: 0 auto;
	text-align: center;
	height: auto;
}
#codepad{
	width: 95%;
	height: 180px;
	margin: 0 auto;
	border: 1px solid #f3f2f2;
	border-radius: 10px;
}
#link{
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 10px;
}